.btn{
    width: 300px;
    height: 70px;

    border-radius: 30px;

    background: linear-gradient(90deg, #e63946, #ffd700);
    border: 2px solid #ffd700;
    color: #720e07;;
    box-shadow: 0 9px #131010;

    font-size: 40px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;

    margin-top: 20px;
    transition-duration: 0.5s;
}
.btn:hover{
    background: linear-gradient(90deg, #d62828, #fcbf49);
}
.btn:active{
    box-shadow: 0 5px #272727;
    transform: translateY(4px);
    transition-duration: 0.01s;
}

.slotMachine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slotItem{
    width: 320px;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid #ffd700;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.game{
    width: 90%;
    max-width: 900px;
    height: auto;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.divbuttons { 
    gap: 10px;
    display: flex;
    justify-content: center;
}

.backgroundi{
    background-image: url(images/jogodobicho.jpg);
    background-size: contain;

    background-color: rgba(0, 0, 0, 0.97);

    background-blend-mode: darken;
}

.piechart{
    width: 24%;
}

.barchart{
    width: 50%;
}

.graphics{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.headergame{
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, #ffd700, #e63946);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.05);

}

.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.75); 
    padding: 15px 30px;
    box-sizing: border-box;
    z-index: 1000;
    backdrop-filter: blur(4px); /* efeito vidro fosco */
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #e63946;
}

body{
    margin: 0;
    padding: 0;
}

.sct{
    color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;

}